.DS_Store
.vscode
.idea
file-publisher/config/default.ts
platform/next.config.js
platform/.idea
docker-compose.yml
tmp
.editorconfig
.clocignore
GIT_IGNORED
coverage
packages/validator/coverage
packages/validator/lib
packages/validator/config/default.ts
packages/extractor/coverage
packages/extractor/lib
node_modules
